.policy {
    h1 {
        font-size: 32px;
    }

    h1,
    h2 {
        margin-top: 34px;
        margin-bottom: 24px;
    }

    ol {
        padding-left: 40px;
        list-style-type: none;
    }

    table {
        width: 90%;
        margin-bottom: 20px;
        border: 1px solid #cfcfcf;
        border-collapse: collapse;
        margin: 0 auto;

        th {
            padding: 10px;
            border: 1px solid #cfcfcf;
        }

        td {
            padding: 8px 12px;
            border: 1px solid #cfcfcf;
        }
    }
}